---
layout: default
popup-gallery: false
gallery-background: bg-dark
gallery:
 - column-size: col-12
   aspect-ratio: landscape-wide
   background_image: /images/the-sleep-co-3.jpg
 - column-size: col-4
   aspect-ratio: square
   background_image: /images/the-sleep-co-2.jpg
 - column-size: col-4
   aspect-ratio: square
   background_image: /images/the-sleep-co-4.jpg
 - column-size: col-4
   aspect-ratio: square
   background_image: /images/the-sleep-co-5.jpg
 - column-size: col-6
   aspect-ratio: portrait 
   background_image: /images/the-sleep-co-6.jpg
 - column-size: col-6
   aspect-ratio: portrait 
   background_image: /images/the-sleep-co-7.jpg
---


<section class="padded-md grid text-center tall-60 opening-section">
    <div class="col-12-middle">
        <h3 class="font-weight-extra-bold" data-aos="fade-down" data-aos-duration="1500"> Explore our magical <span class="text-feat"> world </span> of mattresses</h3>
        <h1 class="font-weight-light" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500">  You won't regret it </h1>
    </div>
</section>

{% if page.popup-gallery == true %}

<!-- popup gallery -->
<section class="padded-md
 {{ page.gallery-background }} ">

    <h2> Popup Gallery </h2>
    <div class="grid gallery" id="lightgallery"> 

        {% for item in page.gallery %}

        <a class="{{item.column-size}} gallery-item" href="{{item.background_image}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
        </a>

        {% endfor %}

    </div>      
</section>

{% else %}

<!-- standard gallery -->
<section class="padded-md"> 
    <h2> Standard Gallery </h2>
    <div class="grid gallery"> 

        {% for item in page.gallery %}

        <div class="{{item.column-size}}">
            <div class="bg-image {{item.aspect-ratio}}" style="background-image: url('{{item.background_image}}');"></div>
        </div>

        {% endfor %}

    </div>      
</section>

{% endif %}


