---
layout: default
products:
 - title: matresses
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
 - title: bed frames
   description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
products2: 
 - title2: pillows
   description2: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
 - title2: sheets
   description2: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus.
 - title2: pyjamas
   description2: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. 
---

		<!---------- opening section section ---------->
		<section class="padded-md grid text-center tall-60 opening-section">
			<div class="col-12-middle">
				<h3 class="font-weight-extra-bold" data-aos="fade-down-left" data-aos-duration="1500"> We are here to  <span class="text-feat"> help</span> you </h3>
				<h1 class="font-weight-light" data-aos="fade-up-left" data-aos-duration="1000" data-aos-delay="500"> get the sleep you deserve </h1>
			</div>
		</section>


		<!---------- service section ---------->

	 <section class="padded padded-t grid-center bg-dark">
            <div class="col-12 center">
                <h2 class="text-center"> what we do, what we know. </h2>
            </div>
		<!-- ----------------------------------- first column forloop ------------------------------------>
			<!-- {% for item in page.products %}
		<div class="col-5_lg-6_sm-12 padded-2">
			<h3 class="text-feat"> {{item.title}} </h3>
			<div class="grid">
					<div class="col-10">
						<p> {{item.description}} </p>
					</div> 
			</div>
		</div>
			{% endfor %} -->
		<!------------------------------------ second column forloop------------------------------------>
			<!-- {% for item in page.products2 %}
			<div class="col-5_lg-6_sm-12 padded-2">
				<h3 class="text-feat"> {{item.title2}} </h3>
				<div class="grid">
					<div class="col-10">
						<p> {{item.description2}} </p>
					</div>
				</div>
			</div>
			{% endfor %} -->
		<!-- ----------------------------------- first column regular ------------------------------------>
		<div class="col-5_lg-6_sm-12 padded-2">
		
		<h3 class="text-feat"> matresses. </h3>
		<div class="grid">	
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
		</div>

		<h3 class="text-feat"> bed frames. </h3>
		<div class="grid">
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
		</div>
	</div>

	<!------------------------------------ second column regular----------------------------------- -->

	  <div class="col-5_lg-6_sm-12 padded-2">

		<h3 class="text-feat"> pillows. </h3>
		<div class="grid">
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
		</div>
	

		 <h3 class="text-feat"> sheets. </h3>
		<div class="grid">
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
		</div> 

		<h3 class="text-feat"> pyjamas. </h3>
		<div class="grid">
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
			<div class="col-10">
				<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora id aliquam necessitatibus. </p>
			</div>
	   </div>
	 </div> 
	</section>

		<!---------- image banner ---------->
		<section class="padded-md grid-center hide-xs">
			<div class="col-8-middle bg-image bg-bed-2 text-center tall-70"> 
			</div>
		</section>

