
* {
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}


/* Padding Utility Classes */ 

.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/*  minimum height classes  */

.tall-50 		{ min-height: 50vh;  }
.tall-60 		{ min-height: 60vh;  }
.tall-70 		{ min-height: 70vh;  }
.tall-80 		{ min-height: 80vh;  }
.tall-90 		{ min-height: 90vh;  }
.tall-100 		{ min-height: 100vh; }



/* universal typography */

body { 
	font-family: 'Catamaran', sans-serif;
	color: #192B37;
}

h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin-bottom: 1.2rem;
}

h2 { font-size: 2.5rem; }
h3 { font-size: 1.5rem; }

p {
	font-weight: 200;
	line-height: 1.5; 
	margin-bottom: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:hover {
	color: #006400;
}

h2:last-child, 
h3:last-child, 
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
	margin-bottom: 0;
}

li {
padding-left: 1rem;
}

.text-feat 		{ color: #006400;  }
.text-white		{ color: white;    }

.text-sm { 
	font-size: 1.5rem; 
}

.text-md { 
	font-size: 2rem;  
	line-height: 1.1;
}

.text-lg { 
	font-size: 4.5rem; 
}

.subtitle { 
	font-size: 1.2rem;
	color: rgb(120,120,125);
}

.quote-icon {
	font-size: 6rem;
	display: inline-block;
	color: rgb(120,120,125);
	line-height: 1;
}

.font-weight-light		{ font-weight: 200; }
.font-weight-normal		{ font-weight: 400; }
.font-weight-extra-bold	{ font-weight: 800; }


.text-left 		{ text-align: left;   }
.text-center 	{ text-align: center; }
.text-right 	{ text-align: right;  }



/* header and footer styles */

header a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem;
	border: none;
  }
  
  header a:hover {
	color: rgb(150,150,150)
  }
  
  header {
	padding: 2% 5%;
	text-align: center;
  }
  
  .show-link { display: none; }

  .logo h2 {
	font-size: 3rem;
	font-weight: normal;
	font-family: didot;
	border-bottom: 2px solid;
  }
  

.opening-section {
	background-image: url('/images/the-sleep-co-4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.opening-section h3 {
	font-size: 5.5rem;
	line-height: 0.9; 
	margin-bottom: 0;
}

footer a {
	border: none;
}




/* background and backgroundimage styles  */

.bg-dark { 
	background-color: #192B37;
	color: white;
 }

.bg-image {
	background-image: url('/images/the-sleep-co-1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


.bg-bed {
	background-image: url('/images/the-sleep-co-3.jpg');
	background-position: 50% 50%;
}

.bg-pug {
	background-image: url('/images/the-sleep-co-1.jpg');
	background-position: 50% 35%;
}

.bg-pillow {
	background-image: url('/images/the-sleep-co-2.jpg');
	background-position: 50% 57%;
}	

.bg-cat {
	background-image: url('/images/the-sleep-co-5.jpg');
	background-position: 50% 50%;
}

.bg-koala {
	background-image: url('/images/the-sleep-co-6.jpg');
	background-position: 50% 20%;
	filter: grayscale(90%);
}

.bg-bed-2 {
	background-image: url('/images/the-sleep-co-7.jpg');
	background-position: 50% 60%;
}

.bg-map {
	background-image: url('/images/the-sleep-co-8.png');
	background-position: 50% 50%;
}


/* icon grid */
.fa-regular,
.fa-solid {
	display: block;
	text-align: center;
	margin-bottom: 2rem;
	font-size: 3rem;
}

.fa-brands {
	font-size: 2rem;
	text-align: center;
	padding: 2%;
}

/* contact form */
form input, 
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

.form-style-two input,
.form-style-two textarea {
  border: 2px solid #f8edeb;
  background-color: #f8edeb;
}

.form-style-two label {
  color: #159234;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.form-style-two button {
  border: 2px solid #159234;
  background-color: white;
  color: #159234;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.form-style-two input:focus,
.form-style-two textarea:focus {
  border-color: #159234 ;
} 

/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {

  body { border: 2px solid green; padding: 0.5rem}
  
  .show-md { display: block; }
  .hide-md { display: none;  }
  
  .text-md-left { text-align: left;} 

  .md-tall-70 { min-height: 70vh; }
  
  .logo h2 { font-size: 2rem; }
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {

	body { border: 2px solid blue; padding: 0.5rem}
  html  { font-size: 14px; }
  p		{ font-size: 1.1rem; }

  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }

  .flex-flip-sm   { flex-direction: column-reverse;}

  .logo h2 { font-size: 1.7rem; } 

  .opening-section h3 { font-size: 11vw; }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

	body { border: 2px solid lightblue; padding: 0.5rem}	
  .show-xs { display: block; }
  .hide-xs { display: none;  }

  h1 { 
	font-size: 1.4rem;
	line-height: 1.1; 
 } 

  h2 { font-size: 2rem; }
}

/* ------- custom header link Media Query (40em / 640px) NOT part of default Gridlex styling--------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 
@media (max-width: 40em) {

	.hide-link { display: none; }
	.show-link { display: inline-block; }

	[class*=grid] .logo-stack {
        flex-basis: 100%;
        max-width: 100%;
    }

}


/* ------- Optional XXS Media Query (25em / 400px) NOT part of default Gridlex styling--------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 

@media (max-width: 25em) {

	html  { font-size: 12px; }

    [class*=grid] .xxs-stack {
        flex-basis: 100%;
        max-width: 100%;
    }
}

