<!---------- jQuary script -------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer">    
</script>

<!----- animate on scroll java  ----->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- Lightgallery for pop-ups  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.1.8/lightgallery.min.js"></script>

<!---------- custom java script file -------->
<script src="/scripts.js"></script>

<!-- GetButton.io widget -->
<script type="text/javascript">
   (function () {
       var options = {
           whatsapp: "+4745498199", // WhatsApp number
           call_to_action: "Message us", // Call to action
           button_color: "#FF6550", // Color of button
           position: "right", // Position may be 'right' or 'left'
       };
       var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
       var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
       s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
       var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
   })();
</script>
<!-- /GetButton.io widget -->