            <!---------- footer ---------->
<footer class="padded-md bg-dark grid-spaceBetween">
    <div class="col-12-middle text-center">
        <h2> let's <br> <span class="text-feat"> connect </span> </h2>
    </div>
    <div class="col-12-bottom text-center">
        <nav>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </nav>
    </div>
</footer>