<!DOCTYPE html>
<html>
{% include head.html %}
	<body>
        <header class="grid-middle">
			<nav class="col-3 text-right hide-link">
			  <a href="/index.html">Home</a>
			  <a href="/about.html">About</a>
			</nav>
			<div class="col-6-center logo-stack">
			  <a href="#" class="logo text-feat text-center">
				<h2>The Sleep Co</h2>
			  </a>
			</div>
			 <nav class="col-3 text-left hide-link">
			  <a href="/services.html">Services</a>
			  <a href="/contact.html">Contact</a>
			</nav>
            <div class="show-link logo-stack-2">
                <div class="hamburger-button">
                     <i class="fa-solid fa-burger"></i> 
                </div>    
             </div>

	    </header>

{% include header-nav.html %}

        {{ content }}


{% include footer.html %}


{% include body-scripts.html %}
      	


</body>
</html>